
{{ template "header" . }}
<div>
  <div>
    <a href="/posts?author={{ .post.ID }}" title="{{ .post.Name }}" class="avatar">
      <img src="/public/imgs/{{ .post.Avatar }}" >
      <span>{{ .post.Name }}</span>
    </a>

  </div>

  <div>
    <form method="post">
      <div>
        <label>标题</label>
        <input type="text" name="title" value="{{.post.Title}}">
      </div>
      <div>
        <label>内容</label>
        <textarea name="content" rows="15">{{.post.Content}}</textarea>
      </div>
      <input type="submit" value="提交">
    </form>
  </div>
</div>

{{ template "footer" . }}