
{{ template "header" . }}

<div class="black-line" style="margin-top: 10px">
  <div>
    <a href="/posts?author={{ .post.UserID }}" title="{{ .post.Name }}" class="avatar">
      <img src="/public/imgs/{{ .post.Avatar }}">
      <span>{{ .post.Name }}</span>
    </a>
  </div>
  <div>
    <div>
      <h3>{{ .post.Title }}</h3>
      <pre>{{ .post.Content }}</pre>
      <div>
        <span>{{ .post.CreateTime }}</span>
        <span>
          <span>浏览( {{ .post.PV }} )</span>
          <span>留言({{ .post.Count }})</span>

          <div>
            <div></div>
            <i></i>
            <div>
              <div><a href="/posts/edit/{{.post.ID}}">编辑</a></div>
              <div><a href="/posts/remove/{{.post.ID}}/">删除</a></div>
            </div>
          </div>

        </span>
      </div>
    </div>
  </div>
</div>
<div class="black-line" style="margin-top: 10px;">
  <h4>留言</h4>
  <ul>
  {{ range $i, $e := $.comments }}
    <li class="black-line" style="margin-bottom: 10px;">
      <div class="avatar">
        <img src="/public/imgs/{{$e.Avatar}}" alt="">
        <span>{{ $e.Name }}</span>({{ $e.CreateTime }})
      </div>
      <p>
        {{ $e.Content }}
      </p>
      <div><a href="/comment/remove/{{$e.ID}}/">删除</a></div>
    </li>
  {{ end }}

  </ul>
  <form method="post" enctype="multipart/form-data" action="/comment">
    <input type="text" value="{{$.user.ID}}" name="author" hidden>
    <input type="text" value="{{.post.ID}}" name="postid" hidden>
    <div>
      <textarea name="content" rows="4" cols="100"></textarea>
    </div>
    <input type="submit" value="提交">
  </form>

</div>

{{ template "footer" . }}